<IfModule mod_rewrite.c>
    RewriteEngine on
    
    # Add trailing slash
    RewriteCond %{REQUEST_URI} !(/$|\.) 
    RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]
    
    # Rewrite any uri to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php?route=$1 [NC,L,QSA]
</IfModule>
